$font-stack:'roboto', sans-serif;
$soho:'Soho Gothic Pro Light', sans-serif;
$primary-color:#fff;
$fs:100%;
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
